* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #A3B4BF;
    font-family: Roboto;
}

header {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #D99177;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 8px #363E40;
}

.logo img{
    width: 150px;
    height: auto;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #A6847C;
    cursor: pointer;
}

button:hover {
    background-color: #734E46;
}

#balance {
    font-size: 2rem;
}


.add-modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #D99177;
    border: 1px solid #D99177;
    border-radius: 5px;
    box-shadow: 0 0 8px #363E40;
    z-index: 1000;
  }
  
  .add-modal input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    margin-right: 10px;
  }
  
  .add-modal button {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .add-modal button:nth-of-type(1) {
    background-color: #198f1d !important;
    color: white;
    border: none;
  }
  
  .add-modal button:last-child {
    background-color: #f44336;
    color: white;
    border: none;
  }

hr {
  margin: 5px 0;
  background-color: #363E40;
  border: none;
  height: 2px;
}

.history-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #D99177;
  border: 1px solid #D99177;
  border-radius: 5px;
  box-shadow: 0 0 8px #363E40;
  z-index: 1000;
  max-height: 70vh;  /* Maksimalus modalio aukštis - 80% nuo ekrano aukščio */
  overflow-y: auto;  /* Paslanki juosta atsiranda tik tada, kai turinys viršija max-height */
  width: 40%;
  scroll-behavior: smooth;
}

.history-modal button {
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.history-modal button:nth-of-type(1) {
  background-color: #f44336;
  color: white;
  border: none;
}
