* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #A3B4BF;
    font-family: Roboto;
}

header {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo img{
    width: 150px;
    height: auto;
}

